/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #09b24c;
    color: #0f0e0e;
    line-height: 1.6;
    padding: 20px;
}

/* Header styling */
header {
    background: #c26903;
    color: rgb(143, 10, 10);
    padding: 20px 0;
    text-align: center;
}

/* Paragraph styling */
p {
    margin: 15px 0;
    font-size: 20px;
    text-align: left; 
    
    
}
h1, h2 {
    background: #161514;
    color: rgb(143, 10, 10);
    padding: 20px 0;
    text-align: center;
} 
/* Makes image scale with container while keeping aspect ratio */
  img {
    max-width: 70%; /* Prevents overflow */
    height: auto;    /* Maintains aspect ratio */
    display: block;  /* Removes inline spacing */
    
  }

 figure {
           border: 1px solid #ccc;
           padding: 5px;
           max-width: 1000px;
            text-align: down; /* Center image and caption */
            margin: auto;
        }
        figcaption {
            font-style: italic;
            color: #0f0e0e;
            margin-top: 5px;
            padding: auto;
            font-size: 15px;
        }


/* Footer styling */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #291111;
}
    /* style for button group*/
    .button-group{
        display: flex;
        gap: 10px; /* space between buttons */
    }

button {
    border: none;
    color: rgb(77, 10, 10);
    background-color:#a78a8a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
 /* Container to control video placement */
 .video {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50vh;
 background-color:#09b24c
 padding: 10px;
 boxing size: border-box;
}
    /* Responsive video style */
    video {
        max-width: 50%;
        height:auto;
        border: 10px solid: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba (0,0,0,0.5);
    

    }
        /* Fixed position for video maybe lets see if this does not break */
     .fixed-video {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        height: auto;
        z-index: 1000;
     }